
<div data-role="modalview" id="drawer-tc" data-title="Terms  Conditions" style="width: 98%; height:98%"    data-modal="false">

    <div data-role="content">
        <div class="km-scroll-container">
            <div class="TCHeader">
                <div class="TCTitle">
                    Terms &amp; Conditions
                </div>
                <div class="TCBtnC">
                    <a data-role="button"  data-click="closeTermC" class="TCBtn"    data-align="left" data-transition="none" >Close</a>
                </div>
                <div>
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td class="english" style="font-weight: bold; width: 50%" width="50%">
                    Terms and Conditions for DSL Internet Services and Data Connectivity
                </td>
                <td class="arabic" style="font-weight: bold; width: 50%" width="50%">
                    الشروط والأحكام الخاصة بخدمة الإنترنت
                </td>
            </tr>
            <tr>
                <td class="english">
                    1- These terms and conditions shall apply to all the services (Service/s) provided
                    by Gulfnet Communications Company W.L.L (The Company), and selected pursuant to
                    the application form submitted and signed by the client (The Client), which shall
                    constitute together the agreement between both parties.
                </td>
                <td class="arabic">
                    1- تطبق هذه الشروط والأحكام على كافة الخدمات (الخدمة) المقدمة من شركة شبكة الخليج
                    للإتصالات (الشركة) والتي تم اختيارها بعد تعبئة نموذج الطلب وتوقيعه من العميل (العميل)
                    كما يشكلان معاً العقد المبرم بين الطرفين
                </td>
            </tr>
            <tr>
                <td class="english">
                    2- The Client agrees to pay all charges in advance in return for the Services provided
                    by the Company and as detailed in the application form, failure to do so the Company
                    shall have the right to immediately suspend or terminate the Services and all sums
                    shall immediately become due.
                </td>
                <td class="arabic">
                    2- يلتزم العميل بدفع أجور توفير الخدمة المقدمة من الشركة كما هو مبين في نموذج الطلب
                    .في حال مخالفة العميل لهذا البند، يحق للشركة قطع الخدمة وإنهائها فوراً وتصبح جميع
                    المبالغ مستحقة الأداء.
                </td>
            </tr>
            <tr>
                <td class="english">
                    3- The Services shall automatically be suspended in case the Client defaulted in
                    paying the charges: <span>- Upon the Company’s approval, the Client may reactivate its
                        account within 30 days of its suspension. Otherwise, at the expiration of this period,
                        the Client’s account and database will be deleted. The Client shall pay the reconnection
                        fees and other associated costs.                       
                        
                    </span>
                </td>
                <td class="arabic">
                    3- تقطع الخدمة تلقائياً في حال عدم قيام الطرف الثاني بسداد المقابل المادي <span>- إذا
                        ما رغب العميل بإعادة تشغيل خدمة الانترنت خلال 30 يوماً من تاريخ قطعها، تقوم الشركة
                        ببذل الجهد الكافي لإعادة توفيرها. أما بعد مرور هذه الفترة فإنه يتم تلقائياً إلغاء
                        اشتراك العميل وكذلك جميع قواعد البيانات الخاصة به. فإذا رغب العميل بإعادة توصيل
                        الخدمة يعامل كأي عميل جديد. ويلزم بدفع رسوم إعادة التوصيل وأية تكاليف أخرى مرتبطة
                        بذلك.                        
                    </span>
                </td>
            </tr>
            <tr>
                <td class="english">
                    4- The Client agrees to keep confidential and refrain from disclosing to others
                    all numbers, codes, passwords provided by the Company.
                </td>
                <td class="arabic">
                    4- يلتزم العميل بالإبقاء على سرية الأرقام والرموز وكلمات السر المقدمة من الشركة
                    وعدم إطلاع الغير عليها
                </td>
            </tr>
            <tr>
                <td class="english">
                    5- The Client undertakes not to use the Services for other then its intended purpose,
                    for any unlawful purpose or in breach of Kuwait laws and regulations.
                </td>
                <td class="arabic">
                    5- يلتزم العميل بعدم استغلال الخدمات الموفرة له في هذا العقد بما يخالف الغاية المعدة
                    لها النظم والتشريعات الكويتية
                </td>
            </tr>
            <tr>
                <td class="english">
                    6- The Client undertakes not to commit any civil or criminal offense of copyright,
                    trademark, or any other intellectual property right infringement, breach any confidentiality
                    obligation, or use the Services in any way that invades another’s privacy or rights.
                    Any such violation may result in the termination of the Contract without any compensation
                    or refund.
                </td>
                <td class="arabic">
                    6- يتعهد العميل بعدم ارتكاب أي مخالفة مدنية أو جنائية أو اعتداء على حقوق النشر والعلامات
                    التجارية أو حقوق الملكية الفكرية الاخرى أو الإخلال بأي التزام بالمحافظة على السرية
                    أو استخدام الخدمة بطريقة تشكل اعتداء على خصوصية وحقوق الغير. وفي حالة أي مخالفة
                    من هذا الشأن سيتم قطع الخدمة فوراً دون أي تعويض أو إسترجاع لأي مبالغ دفعت
                </td>
            </tr>
            <tr>
                <td class="english">
                    7- The Service is granted for the use of the client as specified in this Contract,
                    and the Client will not resell, hire, lease or assign the Services in whole or in
                    part to any third party without the Company’s prior written approval. If the Client
                    breaches any term of this Contract, the Company shall have the right to suspend
                    and terminate the provision of the Services without any notice and reserve its right
                    to claim for any compensation.
                </td>
                <td class="arabic">
                    7- يلتزم العميل باستخدام الخدمة وفقاً لما هو محدد فقط. كما يلتزم بعدم القيام بأي
                    عمل يكون من شأنه التنازل عن الخدمة الممنوحة أو تأجيرها من الباطن أو السماح للغير
                    باستخدام الخدمة بأي صورة كانت إلا بعد الحصول على الموافقة المسبقة من الشركة. وإذا
                    ما تبين للشركة قيام العميل بمخالفة أي بند من بنود هذا العقد يحق له قطع الخدمة دونما
                    حاجة إلى إنذاره وحفظ حقها بالمطالبة بالتعويضً
                </td>
            </tr>
            <tr>
                <td class="english">
                    8- The Company shall take all reasonable care in providing the Services under this
                    Contract, which is optimized for best performance from 6pm to 6am and does not warrant
                    temporary un-interruption of the Services or that the Services or the server is
                    free of viruses, errors or other harmful components.
                </td>
                <td class="arabic">
                    8- تلتزم الشركة ببذل العناية المعتادة في توفير أفضل خدمة والمصممة لافضل استخدام
                    ما بين الساعة السادسة مساءً حتى الساعة السادسة صباحاً دون أن تضمن عدم توقف أو انقطاع
                    تلك الخدمات مؤقتاً ولا خلوها من الأخطاء أو العيوب أو الفيروسات
                </td>
            </tr>
            <tr>
                <td class="english">
                    9-The Company does not guarantee any financial transaction made through the Services
                    and will not be liable towards the Client or third parties for any financial losses.
                </td>
                <td class="arabic">
                    9- يقر العميل بعدم مسؤولية الشركة في ضمان إجراء أي معاملة مالية عبر خدمة الانترنت
                    و تعتبر الشركة غير مسؤولة بتعويض العميل أو أي شخص ثالث عن أي خسارة مالية قد يتكبدوها
                    نتيجة ذلك.
                </td>
            </tr>
            <tr>
                <td class="english">
                    10- If the second party desires a site installation it will be provided by the first
                    party for 10 K.D. while site technical support will be charged 20 K.D fee in advance.
                    Service relocation fees is 10 K.D
                </td>
                <td class="arabic">
                    10- في حال رغبة العميل بطلب زيارة تقنية لتركيب الخدمة فإنه يلتزم بدفع رسوم 10 د.ك
                    أما في حال كانت الزيارة للدعم الفني فيلتزم بدفع رسوم 20 د.ك مقدما كما أن تكاليف
                    نقل الخدمة هي 10 د.ك.
                </td>
            </tr>
            <tr>
                <td class="english">
                    11- The First party has the right to change the prices upon contract expiry without
                    any objection from the second party.
                </td>
                <td class="arabic">
                    11- للشركة الحق بتغيير الأسعار بعد انتهاء مدة العقد دون أي اعتراض من العميل.
                </td>
            </tr>
            <tr>
                <td class="english">
                    12- The second party agree on any regulation or conditions to be set by first party
                    in the future.
                </td>
                <td class="arabic">
                    12- يوافق الطرف الثاني على أي قوانين أو شروط مستقبلية يقرها الطرف الاول.
                </td>
            </tr>
            <tr>
                <td class="english">
                    13- Gulfnet is not responsible for any technical factors delaying providing the
                    service for the second party or any external factors which may affect the delivery
                    or quality of the service. DSL Service installation needs approximately 5 working
                    days from the day of receipt of complete documents. Special Offers may take longer
                    periods.
                </td>
                <td class="arabic">
                    13- الشركة غير مسؤولة عن أي أسباب تقنية تؤخر توفير الخدمة للطرف الثاني و لا عن أي
                    عوامل خارجية قد تؤثر على توصيل الخدمة و جودتها.
                </td>
            </tr>
            <tr>
                <td class="english">
                    14- The Company have the right, without prior notice, to suspend or terminate the
                    Services in case of any attempt by the Client or any third party to use any software
                    that will adversely affect the Company’s network or other users accounts or in case
                    of any misuse of the Services for illegal and unauthorized access to other’s computers
                    and programs.
                </td>
                <td class="arabic">
                    14- يحق للشركة اتخاذ إجراءات قطع الخدمة أو إنهائها فورا دون الحاجة لإنذار العميل
                    عند قيام العميل باستخدام برامج أخرى تؤثر سلبا على أداء الخدمة العامة أو قيامه شخصيا
                </td>
            </tr>
            <tr>
                <td class="english">
                    15- Cancellation prior to the contract expiry date should have a notice period of
                    a full calendar month and must pay cancellation fees of :
                    <br />
                    1 to 2MB : 35KD
                    <br />
                    3 to 5MB: 65KD
                    <br />
                    6MB and above: 95KD
                </td>
                <td class="arabic">
                    15- في حال الغاء الخدمة قبل انتهاء مدة العقد يجب على العميل إخطار الشركة بمدة لا
                    تقل عن شهر تقويمي و دفع رسوم الإلغاء:
                    <br />
                    1 إلى 2 ميغا 35 د.ك
                    <br />
                    3 إلى 5 ميغا 65 د.ك
                    <br />
                    6 ميغا او أكثر 95 د.ك
                </td>
            </tr>
            <tr>
                <td class="english">
                    16- The DSL Service is for domestic home use only. If the telephone # of the DSL
                    connection mentioned above is not a residential line, a cancellation charge of KD
                    50 will be charged to the Client.
                </td>
                <td class="arabic">
                    16- الخدمة هي للاستخدام المنزلي فقط إذا كان الرقم المذكور أعلاه ليس رقما سكنيا سيخصم
                    مبلغ 50 د.ك كرسوم إلغاء الخدمة.
                </td>
            </tr>
            <tr>
                <td class="english">
                    17- All purchased equipment are neither refundable non exchangeable.
                </td>
                <td class="arabic">
                    17- المبلغ المدفوع للأجهزة المتعلقة بالخدمة غير قابل للإسترجاع و لا للإستبدال بأي
                    حال من الأحوال.
                </td>
            </tr>
            <tr>
                <td class="english">
                    18- DSL Service installation needs approximately 5 working days from the day of
                    receipt of complete documents. Special Offers may take longer periods.
                </td>
                <td class="arabic">
                    18- توصيل خدمة الـ DSL تحتاج إلى خمسة أيام عمل من تاريخ استلام المستندات عدا فترة
                    العروض.
                </td>
            </tr>
            <tr>
                <td class="english">
                    19- A jumper removal fee is 10KD and will be processed within 15 working days from
                    the date of receiving request.
                </td>
                <td class="arabic">
                    19- رسوم إلغاء التركيب 10 دينار كويتي و يحتاج إلى 15 يوم عمل من تاريخ تقديم الطلب.
                </td>
            </tr>
            <tr>
                <td class="english">
                    20-This Contract is governed by the Laws of the State of Kuwait and any dispute
                    arising therefrom or related to will be submitted to the exclusive jurisdictions
                    of the Kuwaiti Courts.
                </td>
                <td class="arabic">
                    20- يخضع هذا العقد لقوانين دولة الكويت و تختص المحاكم الكويتية حصريا في البت بجميع
                    النزاعات الناشئة عن تفسيره أو تطبيقه.
                </td>
            </tr>
            <tr>
                <td class="english">
                    21- The Company shall have the right to add, amend and/or delete any of the terms
                    and conditions mentioned above at any time without prior notice. In the event of
                    any discrepancy between the Arabic and English text, the Arabic text will prevail.
                </td>
                <td class="arabic">
                    21- يحق للشركة إضافة او تعديل أو إلغاء أي بند من بنود هذا العقد في أي وقت دون حاجة
                    إلى إنذار العميل في حالة الاختلاف بين النص العربي و الإنجليزي يؤخذ بالنص العربي.
                </td>
            </tr>
            <tr>
                <td class="english" style="padding-top: 11px;">
                    I confirm that I have read and understood the terms and conditions for DSL Internet
                    Service and data connectivity and I unconditionally agree to be bound by the terms
                    and conditions.
                </td>
                <td class="arabic" style="padding-top: 11px;">
                    أقر بأنني اطلعت ووافقت على البنود المدرجة أعلاه والشروط والاحكام الخاصة بخدمة الانترنت
                    ونقل المعلومات والتزم بها دون قيد او شرط
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
        </table>
                </div>
            </div>
        </div>
    </div>
</div>
